<header>
    {% load static %}
    <input type="checkbox" name="" id="chki">
    <div class="logo"><h1><img src="{% static 'imagefolder/images/Screenshot.png' %}" width="150px" alt=""></h1></div>
    <div class="search-box">
        <form action="" method="post">
            <input type="text" name="search" id="srch" placeholder="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="{% url 'posts:list' %}">Post</a></li>
        <li><a href="login.html"><img style="border-radius: 1rem; background-color:white;" src="{% static 'imagefolder/icons/account.png' %}" width="19px" alt=""></a></li>
        
            <li>
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
            </li>
    </ul>
    <div class="memu">
        <label for="chki">
           <i class="fa fa-bars"></i>
        </label>
    </div>
</header>
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>