*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}



                               
footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    background-color: #17171f; 
    padding: 20px;
    justify-content: center;
    justify-content: space-around;
}

.footer-col ul{
    list-style: none;
}

.footer-col h4{
    /* position: relative; */
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 20px;
    color: #ca9f13;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    /* background-color: #27c0ac; */
    height: 2px;
    width: 30px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 8px;
}

.footer-col ul li a{
    display: block;
    font-size: 15px;
    text-transform: capitalize;
    color: rgba(78, 212, 221, 0.582);
    text-decoration: none;
    transition: 0.4s;
}
.footer-col ul li a:hover{
    color: white;
}


.links a{
    display: inline-block;
    height: 44px;
    width: 54px;
    margin: 0 5px;
    text-align: center;
    line-height: 44px;
    border-radius: 50%;
    transition: 0.45;
}

.line a:hover{
    color: #3651a3;
    background-color: rgb(99, 55, 55);
}

@media(max-width: 740px){
    .footer-col{
        width: 50%;
        margin-bottom: 20px;
        text-align: center;
    }
}

@media(max-width: 555px){
    .footer-col{
        width: 100%;
    }
}

