<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>posts</title>
</head>
<body>
    <h1>Posts list</h1>


    {% block content %}
    <section>
        <article class="post">
            {% for post in Posts %}
            <h2>{{ post.title}}</h2>
            <p>{{ post.date }}</p>
            <p>{{ post.body }}</p>
            {% endfor %}
        </article>
    </section>
    {% endblock %}
</body>
</html>